# Created by https://www.gitignore.io/api/windows
# Edit at https://www.gitignore.io/?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

ControlBingosChiri/App_Data/aspnet-ControlBingosChiri-20171017162957.mdf
ControlBingosChiri/App_Data/aspnet-ControlBingosChiri-20171017162957_log.ldf

# End of https://www.gitignore.io/api/windows

/.vs/ControlBingosChiri/v15/Server/sqlite3/storage.ide-wal
/.vs/ControlBingosChiri/v15/Server/sqlite3/storage.ide-shm
/.vs/ControlBingosChiri/v15/Server/sqlite3/storage.ide
/.vs/ControlBingosChiri/v15/Server/sqlite3/db.lock
